.form__fieldset {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  flex-direction: column;
  /*border: 3px dashed rgb(180, 11, 11);*/
  width: 100%;
  border: none;
}

.form__label {
  /*border: 3px dashed rgb(8, 12, 238);*/
  padding: 0;
  box-sizing: border-box;
  margin: 0 0 8px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.form__input {
  height: 60px;
  margin-bottom: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
.form__input::placeholder {
  box-sizing: border-box;

  padding: 20px 0 0 15px;
  /* border: 1px dashed rgb(8, 12, 238);*/
}

input[type="date"] {
  margin-bottom: 32px;
  padding-left: 20px;
}

.form__button {
  height: 60px;
  margin-bottom: 32px;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;

  border: none;
  border-radius: 4px;
}
.form__button:hover {
  opacity: 0.7;
}

.form__button[type="submit"] {
  color: #fff;
  background-color: #2f80ed;
}
.form__label_direction_right {
  display: flex;
  padding: 0;
  margin: 0;
  align-items: flex-end;
  justify-content: center;
  box-sizing: border-box;
}
input[type="checkbox"] {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  margin: 0 12px 0 0;

  align-self: flex-end;
}
